PORT=3000
FORTNITE_API_URL=https://fortnite-api.com/v2/cosmetics?language=pt-BR
FORTNITE_API_NEW_URL=https://fortnite-api.com/v2/cosmetics/new?language=pt-BR
FORTNITE_API_SHOP_URL=https://fortnite-api.com/v2/shop?language=pt-BR
JWT_SECRET=troque-esta-chave-no-prod
JWT_EXPIRES_IN=12h
CORS_ALLOWED_ORIGINS=*
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=fortnite
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
SYNC_CRON_SCHEDULE=0 3 * * *
SYNC_CRON_TZ=America/Sao_Paulo